<form {{action "save" on="submit"}}>
  <div>
    <label>
      Company name
      {{input type="text" value=model.companyName}}
    </label>
  </div>
  <div>
    <label>
      Postcode
      {{input type="text" value=model.postcode}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
