<p>
  {{link-to "Contact list" "contacts.index" }}
</p>

<h1>Contact show</h1>

<p>
  <strong>Company Name:</strong>
  <span>{{model.companyName}}</span>
</p>

<p>
  <strong>Full Name:</strong>
  <span>{{model.fullName}}</span>
</p>

<p>
  <strong>Postcode:</strong>
  <span>{{model.postcode}}</span>
</p>

