<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>SuperRentals</em>
      </h1>
    {{/link-to}}
    <div class="ui three item menu">
      {{#link-to 'about' class='item'}}
        About
      {{/link-to}}
      {{#link-to 'contacts' class='item'}}
        Clients
      {{/link-to}}
      {{#link-to 'contact' class='item'}}
        Contact
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
